<html>
  <head>
    <title>{empresa}</title>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
		<div style="text-align: center; width:100%;">{header}</div>
		<div>
			Estimado Cliente: <span style="float: rigth; font-weight: bold; color: rgb(94, 161, 216); font-family: sans-serif;">{razonSocial}</span>
			<br/>
			<br/>
			Por medio del presente le notificamos: 
			<br/>
			<br/>
			Que se le ha enviado un archivo PDF como anexo de este correo electronico una <span style="font-weight: bold; color: rgb(124, 131, 216); font-family: sans-serif;">{tipo}</span>.
			<br/>
			Para cualquier duda o aclaración favor de contactar al siguiente correo electrónico:<span style="color: rgb(94, 161, 216); font-family: sans-serif;"><a href="mailto:{correo}" style="text-decoration: inherit;">{correo}</a></span>
			<br/>
			<br/>
			Saludos Cordiales,
			<br/>
			FERRETERIA BONANZA
		</div>
		<div style="text-align: center; width:100%;">{footer}</div>
  </body>
</html>
