<html>
  <head>
    <title>{empresa}</title>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
			// https://bonanza.jvmhost.net/MANTIC/resources/janal/img/correo/invitacion.jpg
		</script>	
  </head>
  <body style="margin: 0 auto; padding: 0px; -webkit-text-size-adjust: none; width:1182px; height:1182px;">
		<div style="text-align: center; width:1182px;">{header}</div>
		<img src="cid:{invitacion}" alt="INEGI evento FEGEMS 2019"/>
		<div style="text-align: center; width:1182px;">
			<span style="float: rigth; font-weight: bold; color: rgb(94, 161, 216); font-family: sans-serif;">Registrate en:</span><span style="color: rgb(94, 161, 216); font-family: sans-serif;"><a href="mailto:{correo}" style="text-decoration: inherit;">{correo}</a></span>
			<span style="float: left; font-weight: bold; color: rgb(94, 161, 216); font-family: sans-serif;">Contacto:</span><span style="color: rgb(94, 161, 216); font-family: sans-serif;"><a href="mailto:{correo}" style="text-decoration: inherit;">{correo}</a></span>
		</div>
		<div style="text-align: center; width:1182px;">{footer}</div>
  </body>
</html>
