<html>
  <head>
    <title>{empresa}</title>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="margin: 0 auto; padding: 0px; -webkit-text-size-adjust: none; width:1182px; height:1182px;">
		<div style="text-align: center; width:1182px;">{header}</div>
		<table style="border-collapse: collapse; table-layout:fixed; height:1182px; width:1182px; background-image: url(cid:{background}); background-repeat: no-repeat; background-position: inherit;">
			<tr><th></th><th style="text-align: center"></th><th></th></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td colspan="2" style="padding-left: 10%; text-align: center; font-size: 3em; font-weight: bold; color: rgb(157, 197, 23); vertical-align: bottom; font-family: sans-serif;">{invitado}</td><td></td></tr>
			<tr><td colspan="2" style="padding-left: 10%; text-align: center; font-size: 1.5em; color: rgb(113, 112, 111); vertical-align: top; font-family: sans-serif;">{puesto}</td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td colspan="2" style="padding-left: 8%; padding-top: 12%; text-align: center; font-size: 2em; color: rgb(94, 161, 216); vertical-align: top; font-family: sans-serif;"><span style="font-weight: bold;">Contacto:</span><a href="mailto:{correo}" style="text-decoration: inherit;">{correo}</a></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><td></td><td></td><td></td></tr>
			<tr><th></th><th style="text-align: center"></th><th></th></tr>
		</table>
		<div style="text-align: center; width:1182px;">{footer}</div>
  </body>
</html>
