<html>
  <head>
    <title>{empresa}</title>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
		<div style="text-align: center; width:100%;">{header}</div>
		<table>
			<tr>
				<td style="width: 110px; text-align: center;">
					<div style="width: 110px; text-align: center;">
						<img src="cid:logo" alt="https://www.ferreteriabonanza.com/" width="100" height="145"/>
					</div>
				</td>
				<td style="width: 90%; margin-left: 20px;">
					<div style="width: 90%; margin-left: 20px;">
						Estimado Cliente: <span style="float: rigth; font-weight: bold; color: rgb(94, 161, 216); font-family: sans-serif;">{razonSocial}</span>
						<br/>
						<br/>
						Por medio del presente le notificamos, que se le ha enviado una <span style="color: rgb(124, 131, 216); font-family: sans-serif;">{tipo}</span> en formato PDF como anexo a este correo.
						<br/>
						<br/>
						Para cualquier duda o aclaraci&oacute;n por favor no dude en contactarno a la siguiente cuenta de correo:<span style="color: rgb(94, 161, 216); font-family: sans-serif;"><a href="mailto:{correo}" style="text-decoration: inherit;">{correo}</a></span>
						<br/>
						<br/>
						Saludos cordiales,
						<br/>
						<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: sans-serif;">FERRETERIA BONANZA</span>
					</div>
				</td>
			</tr>
		</table>
		<div style="text-align: center; width:100%;">{footer}</div>
  </body>
</html>
